* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #585c68;
	font-size: 14px;
	line-height: 22px;
	color: #555555;	
}

#header {
	background: white;
	text-align: center;
}

.bold {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.semi_bold {
	font-weight: 500;
	font-size: 16px;
}

.resume {
	width: 800px;
	height: auto;
	display: flex;
	margin: 50px auto;
	background: white;
}

.resume .resume-left {
	width: 280px;
	background: #0bb5f4;
}

.resume .resume_left .resume_content {
	padding: 0 25px;
}