body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

#contact ul {
	list-style: none;
}

#Section-work-history ul {
	list-style: none;
}

#Section-projects ul {
	list-style: none;
}

a {
	text-decoration: none;
}