* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-size: 12px;
	line-height: 23px;
	color: black;
}

.title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;	
}

p {
	margin: 5px 0;
}

.skills {
	line-height: 35px;
}

.title .contact {
	text-align: left;
}

#header {
	background: white;
	text-align: center;
	margin: 0 auto;
	width: 900px;
	height: auto;
	padding: 35px 50px 0 50px;
	margin-top: 50px;
}

#header h1 {
	font-size: 48px;
	font-weight: 100;
	margin-bottom: 50px;
	letter-spacing: 5px;
}

.occupation {
	font-size: 18px;
	border-top: 1.5px solid rgb(65 122 185);
	border-bottom: 1.5px solid rgb(65 122 185);
	padding: 12px;
	letter-spacing: 5px;
	text-transform: uppercase;
}


.bold {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.semi_bold {
	font-weight: 700;
	font-size: 14px;
}

.resume {
	width: 900px;
	height: auto;
	display: flex;
	margin: 0 auto;
	background: white;
	padding: 0 25px;
}


.resume_contact {
	padding: 45px 0 0 0;
}

.resume_contact ul li {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.test {
	border-left: 1.5px solid #a1a1a1;
	padding: 0 0 0 40px;
}


.resume .resume-left {
	width: 280px;
	background: #fff;
	line-height: 25px;
}

.resume .resume-left .resume_content {
	padding: 0 25px;
}

/* .resume .resume_item {
	padding: 35px 0;
} */

.resume_education {
	padding: 46px 0 0 0;
}
.resume_experience{
	padding: 45px 0 0 0;
}

.resume_skills {
	padding: 16px 0;
}

.last {
	width: 50%;
	border-bottom: 1.5px solid #a1a1a1;
	padding-bottom: 35px;
}

.resume .resume-left .resume_item:last-child,
.resume .resume-right .resume_item:last-child {
	border-bottom: 0px;
}

.resume .resume-left ul li {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.resume .resume-left ul li:last-child {
	margin-bottom: 0;
}

ul li .icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 15px;
	font-size: 10px;
}

ul li #linkedin_data {
	text-align: left;
}

/* .resume .icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

.resume .resume-right {
	width: 650px;
	background: #fff;
	padding: 0 25px;
}

.resume_experience .bold {
	text-align: left;
	padding-left: 60px;
}

.resume .resume-right .resume_experience ul {
	padding-left: 40px;
	overflow: hidden;
}

.resume .resume-right ul li {
	position: relative;
	list-style-position: outside;
	padding-left: 20px;
}

.info ul li {
	list-style: disc !important;
}

.resume .resume-right ul li .work_header {
	margin-bottom: 15px;
}

.resume .resume-right ul li .info {
	margin-bottom: 20px;
}

.resume .resume-right ul li:last-child .info {
	margin-bottom: 0;

}

.resume .resume-right .resume_experience .connect .connect-li:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -25.9px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 2px solid rgb(65 122 185) !important;
	background: rgb(65 122 185) !important;

}

.resume .resume-right .resume_experience .connect .connect-li:after {
	content: "";
	position: absolute;
	top: 14px;
	left: -22px;
	width: 1px !important;
	height: 450px;
	background: #a1a1a1 !important;
}
